<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="JohnsonNet" version="1.0.2.99" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net45" />
  <package id="NLog" version="4.4.10" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
</packages>