@model PastContactRecordReportModel
@{
    ViewBag.Title = "Kurumsal İletişim Basın Temas Takip Sistemi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LastContactReport</title>
</head>
<body>
    <div class="box box-block bg-white">

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped mb-md-0">
                    <thead class="table-thead-title">
                        <tr>
                            <td colspan="4" style="border:none;float:left;padding: 0 5px 12px 0;">Gerçekleşen Son Temaslar </td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.HappeningLastContactList)
            {
                            <tr>
                                <td> @Html.ActionLink(item.firstNamelastName, "Detail", "ContactRecord", new { id = item.Id }, null) </td>
                                <td> @Html.ActionLink(item.EditionName, "Detail", "ContactRecord", new { id = item.Id }, null) </td>
                                <td> @Html.ActionLink(item.EventName, "Detail", "ContactRecord", new { id = item.Id }, null) </td>
                                <td> @Html.ActionLink(item.LastContactDate.Value.ToString("dd/MM/yyyy"), "Detail", "ContactRecord", new { id = item.Id }, null) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
