<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="author" content="">

<!-- Title -->
<title>@ViewBag.Title</title>

<!-- Vendor CSS -->
<link rel="stylesheet" href="/content/vendor/bootstrap4/css/bootstrap.min.css">
<link rel="stylesheet" href="/content/vendor/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/content/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/content/vendor/animate.css/animate.min.css">
<link rel="stylesheet" href="/content/vendor/jscrollpane/jquery.jscrollpane.css">
<link rel="stylesheet" href="/content/vendor/waves/waves.min.css">
<link rel="stylesheet" href="/content/vendor/switchery/dist/switchery.min.css">
<link rel="stylesheet" href="/content/css/animation.css">
<link rel="stylesheet" href="/content/css/fontello-codes.css">
<link rel="stylesheet" href="/content/css/fontello-ie7-codes.css">
<link rel="stylesheet" href="/content/css/fontello-ie7.css">
<link rel="stylesheet" href="/content/css/fontello.css">
<link rel="stylesheet" href="~/content/css/jquery.tokenize.css">
<!-- Neptune CSS -->
<link rel="stylesheet" href="/content/css/core.css">